########################################################################
### ignore local configuration and framework
########################################################################

app/node_modules

**/*.pyc
**/__pycache__
**/.Rhistory
**/.ipynb_checkpoints

########################################################################
### ignore anything below
########################################################################

