* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    background-color: #ffffff; /* for screenshots */
}

section {
    display: none;
}

svg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    font-family: monospace, sans-serif;
}

circle {
    shape-rendering: optimizeQuality;
}


.utils {
    fill: lightgray;
    shape-rendering: optimizeQuality;
}

.butt {
    cursor: pointer;
    stroke: gray;
    fill: white;
    stroke-width: 2;
    stroke-linecap: round;
}

.tooltip {
    display: none;
    pointer-events: none;
    position: absolute;
    stroke: none;
}

.tooltip rect {
    fill: #black;
    shape-rendering: optimizeQuality;
}

.tooltip path {
    fill: #black;
}

.tooltip text {
    font-size: .7em;
    fill: white;
}

.tooltip-overlay {
    stroke: none;
    fill: none;
    pointer-events: all;
}

.legend {
    cursor: pointer;
    text-anchor: start;
}

.utils-rect {
    fill: white;
    fill-opacity: .75;
    stroke: none;
}

.frame {
    shape-rendering: crispEdges;
    stroke: white;
    stroke-width: 14;
    stroke-linecap: square;
    fill: none;
}

#ctrl path {
    stroke: gray;
    stroke-width: 2;
    fill: none;
}

#ctrl text {
    font: .8em courier, monospace;
    fill: lightgray;
    cursor: pointer;
    text-anchor: middle;
}

#ctrl text:hover {
    fill: gray;
}

#group,
#stack,
#sorted,
#absolute,
#normalized {
    shape-rendering: crispEdges;
}

#averaged {
    shape-rendering: optimizeQuality;
}


.axis path {
    stroke: black;
    fill: none;
}

.z text,
.axis text {
    font-family: monospace, sans-serif;
    font-size: 1em;
    fill: gray;
}

#align line,
.axis line {
    stroke: black;
    stroke-dasharray: 2,2;
}

#align line,
.axis path,
.axis line {
    stroke-opacity: .3;
    shape-rendering: crispEdges;
}

#pin {
    stroke: gray;
    shape-rendering: optimizeQuality;
    stroke-width: 2;
    fill: white;
    opacity: .5;
    display: none;
}

#prompt {
    width: 50%;
    height: 100px;
    margin: 10% auto;
    padding: 10px 30px;
    background: white;
    border: 0 none;
    border-radius: 16px 4px 16px 4px;
    font: .8em monospace, sans-serif;
    color: gray;
}

#prompt input {
    width: 100%; height: 26px;
    margin: 4px 0;
    padding: 0 5px;
    border: 2px lightgray solid;
    border-radius: 4px;
    font: 12px monospace, sans-serif;
    color: black;
}

#prompt span {
    display: block;
    width: 40%; height: 24px;
    float: right;
    margin: 1px;
    background: rgba(0,0,0,0.25);
    border: 0 none;
    border-radius: 16px 4px 16px 4px;
    font: 1.25em monospace, sans-serif;
    text-align: center;
    color: white;
    cursor: pointer;
}

#prompt span:hover {
    background: rgba(0,0,0,0.75);
    border-radius: 6px;
}

.prompt {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

.z path {
    display: none;
}

.z line {
    stroke: white;
    fill: white;
    shape-rendering: crispEdges;
}

#SelectScreen {
    cursor: crosshair;
}

#ZoomScreen rect,
#SelectScreen rect {
    fill: none;
    pointer-events: all;
}

#SelectScreen path {
    fill: gray;
    fill-opacity: .1;
    stroke: black;
    stroke-dasharray: 2,2;
    stroke-opacity: .3;
    shape-rendering: crispEdges;
}

#InsightScreen rect {
    fill: white;
}

#InsightScreen text {
    fill: black;
    cursor: pointer;
    font-size: .8em;
}

#Info {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: gray;
    font-size: .85em;
}

#Info div {
    padding: 5px 10% 0 10%;
}

#Info .ok {
    text-align: center;
    cursor: pointer;
}

#Legend {
    margin: 16px 0;
}

#Legend .color {
    display: inline-block;
    width: 10px; height: 10px;
    margin: 2px 10px 0 20px;
    border: 0 none;
    border-radius: 5px;
    opacity: .5;
}

.label {
    font-size: .7em;
    fill: gray;
}

.axis-label {
    font-size: 9px;
    fill: gray;
    stroke: none;
}

#xlabel {
    text-anchor: end;
}

#ylabel {
    text-anchor: start;
}

.xmean,
.ymean {
    fill: none;
    stroke: white;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

.title {
    font-size: 0.85em;
    fill: gray;
    text-shadow: 1px 1px 1px white;
}

.line {
    stroke-width: 1.5;
    stroke-opacity: .75;
    fill: none;
}

.area {
    stroke: none;
    fill-opacity: .5;
}

.hist {
    shape-rendering: crispEdges;
    cursor: pointer;
    stroke: none;
    opacity: .5;
}

.grad {
    shape-rendering: crispEdges;
    opacity: .5;
}

.cell {
    shape-rendering: crispEdges;
    stroke: none;
}

.cell:hover {
    stroke: black;
    stroke-dasharray: 2,2;
    stroke-opacity: .3;
}

.land {
    fill: lightgray;
    stroke: none;
}

.cbsa,
.county,
.state,
.country {
    fill: none;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
}
