<canvas id="canvas"></canvas>
<div id="legend">
<div id="title"></div><div id="origin"></div><div id="xaxis"></div><div id="yaxis"></div><div id="zaxis"></div>
<div id="tooltip">( Use Esc key to toggle animation. )</div>
</div>
<script>
{{{ js }}}
(function(window) {
    'use strict';

    var VIZ = window.VIZ || {};

    VIZ.meta = {{{ meta }}};
    VIZ.data = {{{ data }}};

    window.onload = function() {
        VIZ.phoria();
    };

})(window);
</script>
