<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=0" />
<script src="/projects/viz/phoria/gl-matrix.js"></script>
<script src="/projects/viz/phoria/phoria-util.js"></script>
<script src="/projects/viz/phoria/phoria-entity.js"></script>
<script src="/projects/viz/phoria/phoria-scene.js"></script>
<script src="/projects/viz/phoria/phoria-renderer.js"></script>
<style>
{{{ css }}}
</style>
<title>{{ title }}</title>
</head>
<body>
<section>{{{ description }}}</section>
{{{ body }}}
</body>
</html>
